h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1.5rem 0;
}

.content header {
  margin-top: 8px;
}

.content header a {
  text-transform: lowercase !important;
}

.fa-link::before {
  content: none !important;
}

.avatar img {
  width: 12rem;

  @media only screen and (max-width: 768px) {
    width: 8rem;
  }
}

.navigation {
  .navigation-title {
    text-transform: none !important;
    letter-spacing: normal;
  }
}

.project-grid {
  h4 {
    margin: 0px;
  }

  p {
    margin: 0px;
    margin-bottom: 20px;
  }
}

p {
  text-align: unset !important;
  hyphens: unset !important;
}

.container {
  flex-direction: column;
  max-width: 625px;
}

.about {
  flex: 1;
}

.about-content {
  flex: 1;
}

a.title-link {
  text-transform: lowercase !important;
}
