h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1.5rem 0;
}

.content header {
  margin-top: 16px;
}

.fa-link::before {
  content: none !important;
}

.avatar img {
  width: 12rem;

  @media only screen and (max-width: 768px) {
    width: 8rem;
  }
}

.navigation {
  .navigation-title {
    text-transform: none !important;
    letter-spacing: normal;
    font-size: 20px;
  }
  .navigation-title::before {
    background-image: url("/favicon.svg");
    background-size: 22px 22px;
    display: inline-block;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    content: "";
  }
}

.project-grid {
  h4 {
    margin: 0px;
  }

  p {
    margin: 0px;
    margin-bottom: 20px;
  }
}

p {
  // margin: 0 !important;
  // word-wrap: normal !important;
  text-align: unset !important;
  hyphens: unset !important;
}

.container {
  flex-direction: column;
  max-width: 650px;
}

.about {
  flex: 1;
}

.about-content {
  flex: 1;
}

a.title-link {
  text-transform: lowercase !important;
}
